* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
}

/* Navagation Styles */
.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 12, 12);
  font-size: 30px;
  margin-bottom: 10px;
}

.repos-container {
  display: flex;
  flex-direction: row;
}

/* Search Bar Styles */
.city-search {
  background: rgba(27, 24, 24, 0.4);
  margin-right: 15px;
  margin-left: 30px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20%;
}

.city-header {
  margin-bottom: 10px;
}
.search-btn {
  background-color: rgb(62, 12, 112);
  margin: 5px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  padding: 5px;
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
}

/* Display Weather Styles */
.display-weather {
  background: rgba(238, 233, 233, 0.4);
  padding: 15px;
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 70%;
  line-height: 2;
}

/* UV Index*/

.low {
  background-color: rgb(0, 153, 0);
}

.moderate {
  background-color: rgb(255, 255, 0);
}

.high {
  background-color: rgb(255, 0, 0);
}
